body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #131417;
}

/*Scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F9ED69;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888239;
}


/*Home Page*/

.main-cont {
    width: 100vw;
    position: relative;
    min-height: 100vh;
    background-color: #131417;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/*Navbar*/

.navbar {
    border-radius: 80px;
    transition: all 0.4s ease-out;
    height: 170px;
}

.navbar .list-cont .nav-list li a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    position: relative;
    transition: all 0.4s ease;
}

.navbar .list-cont .nav-list li a.active {
    color: #F9ED69;
}

.navbar .list-cont .nav-list li a.active:hover{
    color: white;
}

.navbar .list-cont .nav-list li a:hover{
    color: #F9ED69;
}

.navbar .list-cont .nav-list li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #F9ED69;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar .list-cont .nav-list li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .list-cont .byteLogo {
    width: 10%;
    transition: all 0.4s ease;
}

.navbar .list-cont .byteLogo:hover {
    transform: rotate(60deg) scale(1.5);
}

.navbar .upArr  {
    position: absolute;
    bottom: -10px;
    cursor: pointer;
    background-color: #212529;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.6s ease;
}

/*Class selector section*/

.cs-cont {
    display: flex;
    justify-content: center;
}

.cs-cont .class-select-form {
    background: #212529;
    width: 90vw;
    border-radius: 50px;
}

.cs-cont .class-select-form .input-wrapper select {
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    color: white;
}

.cs-cont .class-select-form .input-wrapper select option {
    background-color: #212121;
}

.cs-cont .class-select-form .button-wrapper button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: bold;
}

.cs-cont .class-select-form .button-wrapper button:hover {
    background-color: #fff;
    color: black;
}

.cs-image {
    background-image: url("https://hemantdutta.github.io/IntelHackathon_frontend/assets/images/side_pic_bc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
}

/*Canvas*/
#myCanvas {
    border-radius: 50px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#Capture{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: bold;
}

#Capture:hover{
    background-color: #fff;
    color: black;
}

/*Table*/
.attendance-list table{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    overflow-x: scroll;
}

.attendance-list table th, td {
    border: 1px solid white;
}

/*Alert*/

.validAlert {
    position: absolute;
    right: 3rem;
    width: 20rem;
    bottom: 3rem;
    overflow-y: hidden;
}

.validAlert .validInner {
    background-color: #212121;
    transform: translateY(120px);
    transition: all 0.4s ease-out;
    padding: 1rem;
}

.validAlert .topText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.validAlert .topText span, .fa-xmark {
    font-size: 1.5em;
}

.validAlert .fa-xmark {
    cursor: pointer;
}
